/*General*/
body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* topnav */
.topnav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: #003a59;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    top: 0;
}

.topnav-logo{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 15%;
    background-color: #ffffff;
}

.topnav-logo h1 {
    align-self: center;
    font-size: 2rem;
    font-style: italic;
}

.topnav-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 35%;
}

.topnav-user{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px; 
    width: 50%;
}

/* Topnav button */

.topnav-button .menu-icon{
    color: #ffffff;
    align-self: center;
    margin-left: 10px;
}

/* Topnav user*/
.topnav-user span {
    color: #ffffff;
    align-self: center;
    font-weight: 100;
    margin-right: 15px;
}

.notification {
    align-self: center;
    margin-right: 30px;
    position: relative;
}

.notification-icon{
    color: #ffffff;
}

.dot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    color: #003a59;
    height: 15px;
    width: 15px;
    background-color: #9bd358;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -7px;
}

/* Content */
.main-content {
    margin: 60px 40px 0px 40px;
}

h1 {
    font-weight: bold;
    font-size: 1em;
}

/* Box */

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10px;
    background-color: #eff3f6;
    width: 100%;
}

.box-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 70px 0px;
}

.box-button button{
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #fff;
    border: 1px solid #003a59;
    color: #003a59;
}

/* Box Info*/
.box-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 55px 0px 0px 30px;
}

.box-info .section{
    font-size: 0.65rem;
}

.box-info .sub-section {
    color: #4c5c66;
    font-size: .9rem;
    font-weight: 600;
    margin-top: 9px;
    border-left: 5px solid #99cc66;
    padding-left: 9px;
}

.box-info .description {
    color: #4c5c66;
    font-size: .75rem;
    font-weight: 600;
    margin-top: 20px;
}

/* Box Input*/

.box-input {
    width: 60%;
    padding: 20px;
}

.box-input .section {
    color: #737373;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #d9dadb;
}

.box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.box-col-md-12 {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
}

.box-col-md-6{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 49%;
    max-width: 49%;
}
/*Form*/

form {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    color: #9f9a9f;
    font-size: 0.65rem;
    margin-top: 15px;
    margin-bottom: 1px;
    width: 100%;
}

.required::after {
    content: '*';
    display: inline-block;
    color: #f30d32;
    font-size: 13px;
    line-height: 12px;
    margin-left: 3px;
}

select, input, textarea{
    -webkit-appearance: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    max-width: 100%;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.14);
}

select {
    background: #fff url(../images/select-button.png) 98% no-repeat;
}

input[type="number"]{
    text-align: right;
}

input[type="date"], input[type="datetime"]{
    text-transform: uppercase;
    background: #fff url(../images/calendar.png) 98% no-repeat;  
}

input[type="checkbox"]{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #7d7d7d;
    border-top: 2px solid #7d7d7d;
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

input[type="checkbox"]:checked::after {
    align-self: center;
    content: '';
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

form button{
    color: #ffffff;
    background-color: #6f985c;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 3px;
    font-size: 0.65rem;
    max-width: 150px;
}

/* Table */

table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

thead{
    border: 1px solid #eeeeee;
    font-size: 0.75rem;
    padding: 10px;
    color: #9f9a9f;
    background-color: #ffffff;
}

thead th {
    text-transform: uppercase;
    padding: 10px;
}

thead th:nth-child(1){
    width: 87px;
}

tbody {
    border: 1px solid #eeeeee;
    font-size: 0.9rem;
    background-color: #fafafa;
    padding: 10px;  
}

tbody td {
    padding: 10px;
}


/*Responsive*/

@media only screen and (max-width: 600px) {

    .topnav-logo {
        width: 40%;
    }

    .topnav-button {
        width: 10%;
    }

    #user-name{
        display: none;
    }

    .main-content {
        margin: 60px 20px 0px 10px;
    }

    .main-content > h1 {
        width: 50%;
        word-wrap: break-word;
    }

    .box {
        flex-direction: column;
    }

    .box > .box-info {
        width: 100%;
        padding: 10px;
    }

    .box > .box-input {
        width: 100%;
        margin-top: 30px;
        padding: 10px;
    }

    .box-input form button{
        font-size: 0.55rem;
    }

    .box-button button {
        width: 100px;
    }

}