/*General*/
body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: #003a59;
    box-shadow: 0px 5px 5px rgba(148, 148, 148, 0.5);
}

.navbar-left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 50%;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px; 
    width: 50%;
}

/* Left Navbar */
.navbar-left > .brand {
    height: 50px;
    width: 200px;
    padding-top: 8px;
    text-align: center;
    background-color: #ffffff;
}

.navbar-left > .brand > span {
    font-size: 2rem;
    font-style: italic;
}

.navbar-left > .menu-icon{
    color: #ffffff;
    align-self: center;
    margin-left: 10px;
}

/* Right Navbar */
.navbar-right > span {
    color: #ffffff;
    align-self: center;
    font-weight: 100;
}

.navbar-right > .notification {
    align-self: center;
    margin-right: 20px;
    position: relative;
}

.notification > .notification-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    color: #003a59;
    height: 15px;
    width: 15px;
    background-color: #9bd358;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -7px;
}

.notification > .notification-icon{
    color: #ffffff;
}

.navbar-right > .user-icon, .navbar-right > .user-menu-icon{
    margin-right: 10px;
    margin-left: 10px;
}

/* Content */
body > .content {
    margin: 20px 40px 0px 40px;
}

.content > .title {
    font-weight: bold;
}

.content > .content-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.content > .content-button > .button-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.content > .content-button > .button-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.content > .content-button button{
    font-weight: bold;
    font-size: 0.75rem;
    color: #003a59;
    border: 1px solid #003a59;
    border-radius: 2px;
    background: none;
    padding: 10px;
}


/* Box */

.content > .box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10px;
    background-color: #eff3f6;
}

/* Box Left*/
.box > .box-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 55px 0px 0px 30px;
}

.box-left > .section {
    font-size: 0.65rem;
}


.box-left > .sub-section {
    color: #4c5c66;
    font-size: .9rem;
    font-weight: 600;
    margin-top: 9px;
    border-left: 5px solid #99cc66;
    padding-left: 9px;
}

.box-left > .description {
    color: #4c5c66;
    font-size: .75rem;
    font-weight: 600;
    margin-top: 20px;
}

/* Box Right*/

.box > .box-right {
    width: 60%;
    padding: 20px 0px 0px 20px;
}

.box-right > .section {
    color: #737373;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #d9dadb;
}

/* Box Right Form*/

.box-right > form {
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-right > form label {
    color: #9f9a9f;
    font-size: 0.65rem;
    margin-top: 15px;
    margin-bottom: 1px;
    width: 100%;
}

.box-right > form .required::after {
    content: '*';
    display: inline-block;
    color: #f30d32;
    font-size: 13px;
    line-height: 12px;
    margin-left: 3px;
}

.box-right > form select, .box-right > form  input, .box-right > form textarea{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

.box-right > form input[type="date"], .box-right > form input[type="datetime"]{
    text-transform: uppercase;
}

.box-right > form #salary{
    text-align: right;
}

.box-right > form input[type="checkbox"]{
    -webkit-appearance: none;
    width: 15px;
    height: 25px;
    border: 2px solid #7d7d7d;
    border-top: 2px solid #7d7d7d;
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    background-color: #fff;
}

/* Box Right Button*/

.box-right > form button{
    color: #ffffff;
    background-color: #6f985c;
    margin-left: 20px;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 3px;
    font-size: 0.65rem;

}

/* Box Right Table */

.box-right > form table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

.box-right > form table > thead{
    border: 1px solid #eeeeee;
    font-size: 0.75rem;
    padding: 10px;
    color: #9f9a9f;
    background-color: #ffffff;
}

.box-right > form table > thead th {
    text-transform: uppercase;
    padding: 10px;
}

.box-right > form table > thead th:nth-child(1){
    width: 87px;
}

.box-right > form table > tbody {
    border: 1px solid #eeeeee;
    font-size: 0.9rem;
    background-color: #fafafa;
    padding: 10px;  
}

.box-right > form table > tbody td {
    padding: 10px;
}

.box-right > form .full-size{
    width: 100%;
}
.box-right > form .half-size{
    width: 50%;
}


/*Responsive*/

@media only screen and (max-width: 600px) {

    .navbar-left > .brand {
        width: 150px;
    }

    .navbar-right > #user-name{
        display: none;
    }

    body > .content {
        margin: 25px 10px 10px 10px;
    }

    .content > .title {
        width: 50%;
        word-wrap: break-word;
    }

    .content > .content-button button{
        font-size: 0.55rem;
    }

    .content > .box {
        flex-direction: column;
    }

    .box > .box-left {
        width: 100%;
        padding: 10px;
    }

    .box > .box-right {
        width: 100%;
        margin-top: 30px;
        padding: 10px;
    }

    .box-right > form button{
        font-size: 0.55rem;
    }

}